@use './../../custom';
@use './../../components/functions';

.giftpage {

	min-height: 50vh;

	// ALL BREAKPOINTS
	padding: functions.toRem(16) 0;

	&__sticky {
		transition: all 0.5s ease-out;
		
		&--fullHeight {
			transition: all 0.5s ease-out;
		}
	}

	&__simulatorResultsWrapper {

		a {
			text-decoration: none;
			color: custom.$dark;
		}
	}

	&__conditions {
		background-color: rgba(custom.$dark, 0.7);
	}

	&__closeConditions {
		margin-bottom: functions.toRem(-30);
	}

	h4 {
		font-size: custom.$body-fs;
		font-weight: normal;
	}

	.carousel {
		max-height: initial !important;
		height: auto !important;
	}

	.carousel-indicators [data-bs-target] {
		background-color: custom.$dark;
	}

	.carousel-indicators {
		margin: 0 !important;
		padding: 0 functions.toRem(10);
	}

	.carousel-caption {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: functions.toRem(8);
		width: 100% !important;
		left: 0 !important;
		right: auto !important;
		padding: functions.toRem(8);
		font-size: custom.$body-fs;
		
		strong {
			background-color: custom.$primary;
			padding: functions.toRem(5) functions.toRem(13);
			border-radius: functions.toRem(13) functions.toRem(10) functions.toRem(15) functions.toRem(11);
			font-size: custom.$body-fs;
			vertical-align: middle;
			white-space: nowrap;
		}

		h4 {
			color: custom.$dark;
		}
	}

	&__innerConditions {
		width: 85%;
		margin-top: var(--navbarHeight);
	}

	&__combo {
		height: 100%;
	}

	///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
	@media (orientation: portrait) {

		&__simulatorImg {
			display: none;
		}

		@include custom.media-breakpoint-up(md) {

			&__quote {
				position: relative;
				height: 50%;

				&--active {
					display: flex !important;
					padding: functions.toRem(16) functions.toRem(32);
					justify-content: center;
					align-items: center;
					background: url('/images/gift/flowers_background_illustration.png');
					background-size: cover;

					p {
						text-align: center;
						position: relative;

						&::before {
							display: block;
							position: absolute;
							top: -70%;
							left: 50%;
							transform: translate(-50%);
							content: url('/images/homepage/quote_icon.svg');
							width: 25%;
						}

					}

					span {
						position: absolute;
					}

					span:nth-child(1) {
						top: 0;
						left: 0;
						border-top: functions.toRem(1) solid;
						border-left: functions.toRem(1) solid;
						border-radius: functions.toRem(6) 0 0 0;
						width: 15%;
						aspect-ratio: 1 / 1;
					}

					span:nth-child(2) {
						top: 0;
						right: 0;
						border-top: functions.toRem(1) solid;
						border-right: functions.toRem(1) solid;
						border-radius: 0 functions.toRem(6) 0 0;
						width: 35%;
						height: 50%;
					}

					span:nth-child(3) {
						bottom: 0;
						left: 0;
						border-left: functions.toRem(1) solid;
						border-bottom: functions.toRem(1) solid;
						border-radius: 0 0 0 functions.toRem(6);
						height: 50%;
						width: 70%;
					}

					span:nth-child(4) {
						bottom: 0;
						right: 0;
						border-right: functions.toRem(1) solid;
						border-bottom: functions.toRem(1) solid;
						border-radius: 0 0 functions.toRem(6) 0;
						width: 15%;
						aspect-ratio: 1 / 1;
					}
				}
			}

			&__sticky {
				position: sticky;
				top: var(--navbarHeight);

				&--fullHeight {
					padding: functions.toRem(16) 0;
					height: calc(100vh - var(--navbarHeight));
					justify-content: space-between !important;
				}
			}

			&__wrapper {
				flex-direction: row !important;
				gap: functions.toRem(10) !important;
			}
	
			&__purchase {
				position: relative;
				border: functions.toRem(1) solid custom.$dark;
				border-radius: functions.toRem(6);
				padding: functions.toRem(16);
				flex: 50% !important;
			}
	
			&__simulator {
				flex: 50% !important;
				gap: functions.toRem(16);
			}
		}

		@include custom.media-breakpoint-up(lg) {

			&__simulatorImg {
				display: block;
			}

			&__simulatorImgWrapper {
				display: flex;
				gap: functions.toRem(32);
				align-items: center;
				padding: functions.toRem(16) functions.toRem(16) 0 functions.toRem(16);
				border-bottom: functions.toRem(1) solid;
			}
		}
	}

	///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
	@media (orientation: landscape) {

		&__sticky {
			position: sticky;
			top: var(--navbarHeight);

			&--fullHeight {
				padding: functions.toRem(16) 0;
				height: calc(100vh - var(--navbarHeight));
			}
		}

		&__simulatorImg {
			display: none;
		}

		&__wrapper {
			flex-direction: row !important;
			gap: functions.toRem(10) !important;
		}

		&__purchase {
			position: relative;
			border: functions.toRem(1) solid custom.$dark;
			border-radius: functions.toRem(6);
			padding: functions.toRem(16);
			flex: 50% !important;
		}

		&__simulator {
			flex: 50% !important;
			gap: functions.toRem(16);
		}

		&__innerConditions {
			max-height: 75vh;
		}

		/////////////////// LAPTOP AND DESKTOP  ///////////////////
		@include custom.media-breakpoint-up(lg) {

			&__simulatorImg {
				display: block;
			}

			&__simulatorImgWrapper {
				display: flex;
				gap: functions.toRem(32);
				align-items: center;
				padding: functions.toRem(16) functions.toRem(16) 0 functions.toRem(16);
				border-bottom: functions.toRem(1) solid;
			}
		}

		@include custom.media-breakpoint-up(xl) {

			padding: functions.toRem(20);

			&__sticky {
				
				img {
					max-width: 80% !important;
					align-self: center;
				}
			}

			&__wrapper {
				gap: functions.toRem(20) !important;
			}

			&__purchase {
				flex: 40% !important;
			}

			&__simulator {
				flex: 60% !important;
			}

			&__simulatorImgWrapper {

				p {
					line-height: 2;
					padding: functions.toRem(16);
				}
			}

			&__simulatorResultsWrapper {
				flex-direction: row !important;
			}

			&__simulatorResultsBest {
				flex: 40%;
			}

			&__simulatorResultsDuo {
				flex: 60%;
			}

			&__simulatorResultsCombo {
				flex: 40%;
				flex-direction: row !important;
			}

			&__combo {
				flex: 50%;
			}
		}
	}
}
