@use './../../../custom';
@use './../../../components/functions';
@use './../../../components/mixins';

@include mixins.doorAnimation('hideContent', 2, -1);
@include mixins.doorAnimation('showContent', -1, 2);
@include mixins.lookAtMeAnimation('moveTopLeft', -2%, -1%);
@include mixins.lookAtMeAnimation('moveBottomRight', 2%, 1%);

:root {
    --hiddenInfoAnimName: moveBottomRight;
    --hiddenInfoAnimState: running;
    --doorShapeAnimName: moveBottomRight;
    --doorShapeAnimState: running;
    --imgAnimName: moveTopLeft;
    --imgAnimState: running;
}

.californien {

    // ALL BREAKPOINTS 

    &__infoIllustration {

        img {
            z-index: 2;
            animation-name: var(--imgAnimName);
            animation-play-state: var(--imgAnimState);
            animation-duration: 2s, 1s;
            animation-iteration-count: infinite, 1;
            animation-fill-mode: none, forwards;
            animation-timing-function: ease, ease-in-out;

        }

        &::after {
            content: "";
            background: url('/images/categories/pink_door_shape_illustration.svg');
            background-size: 100% 100%;
            position: absolute;
            top: 5%;
            left: 5%;
            height: 100%;
            width: 100%;
            z-index: 0;
            animation-name: var(--doorShapeAnimName);
            animation-play-state: var(--doorShapeAnimState);
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-timing-function: ease;
        }
    }

    &__hiddenInfo {
        top: 18%;
        left: 23%;
        height: 75%;
        width: 65%;
        z-index: 1;
        animation-name: var(--hiddenInfoAnimName);
        animation-play-state: var(--hiddenInfoAnimState);
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-timing-function: ease;
    }

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    @media (orientation: portrait) {

        &__palmTreeImg {
            width: 80%;
        }

        &__oilDropperImg {
            transform: rotateY(180deg) translate(20%);
            width: 70%;
            shape-outside: circle(50%);
        }

        @include custom.media-breakpoint-up(md) {

            margin-top: 0 !important;

            &__palmTreeImg {
                width: 50%;
            }

            &__oilDropperImg {
                display: none;
            }

            &__infoIllustration {
                width: 50%;
            }

            &__info {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: functions.toRem(16);

                p {
                    line-height: 2;
                    margin: 0;
                }
            }

            &__infoContainer {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        @include custom.media-breakpoint-up(lg) {

            &__info {
                padding: functions.toRem(16);
                gap: functions.toRem(32);
            }
        }
    }
    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {

        margin-top: 0 !important;
        padding-top: 0 !important;

        &__palmTreeImg {
            width: 40%;
        }

        &__oilDropperImg {
            display: none !important;
        }

        &__infoIllustration {
            flex: 1;
            max-width: 40%;
        }

        &__info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: functions.toRem(32);
            padding: functions.toRem(16);

            p {
                margin: 0;
            }
        }

        &__hiddenInfo {

            a {
                font-size: custom.$body-landscape-fs !important;
                padding: functions.toRem(3);
            }
        }

        &__infoContainer {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(lg) {

            &__infoContainer {

                p {
                    line-height: 2;
                }
            }

            &__hiddenInfo {

                a {
                    padding: functions.toRem(8) !important;
                }
            }
        }

        @include custom.media-breakpoint-up(xl) {

            h2 {
                margin-bottom: functions.toRem(25) !important;
            }

            &__palmTreeImg {
                width: 30%;
                float: left;
            }

            &__advice {
                width: 40%;
                margin: functions.toRem(40) auto 0 !important;
                text-align: center;
                padding: functions.toRem(20) 0 !important;
            }
        }
    }
}
