@use './../../../custom';
@use './../../../components/functions';

.massages {

    // ALL BREAKPOINTS 
    &__massage {
        padding-top: functions.toRem(14);
    }

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    @media (orientation: portrait) {

        &__bulbIcon {
            height: functions.toRem(32);
            transform: rotate(15deg) translateY(-20%);

            img {
                height: 100%;
                width: auto;
            }
        }
    }
    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {

        &__bulbIcon {
            height: functions.toRem(24);
            transform: rotate(15deg) translateY(-20%);

            img {
                height: 100%;
                width: auto;
            }
        }
        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(lg) {

            &__bulbIcon {
                height: functions.toRem(32);
            }
        }
    }
}