@use './../../../custom';
@use './../../../components/functions';

.kobido {

    // ALL BREAKPOINTS
    &__supreme {

        h3 {
            background: linear-gradient(
                90deg,
                custom.$primary,
                custom.$secondary
            );
            background-clip: text;
            color: transparent;
            font-family: custom.$secondary-ff;

            span {
                font-weight: 300;
                letter-spacing: functions.toRem(2);
                font-size: clamp(functions.toRem(30), calc(30px + 0.17vw), functions.toRem(35));
                font-family: custom.$main-ff;;
            }
        }
    }

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    @media (orientation: portrait) {

        &__blossomImg {
            transform: translateX(12%);
        }

        &__price {
            width: 40%;
        }

        @include custom.media-breakpoint-up(md) {

            &__infoWrapper {
                display: flex;
                align-items: center;
            }

            &__blossomImg {
                width: 50%;
                flex-shrink: 0;
                transform: translateX(10%);
                order: 2;
            }

            &__supreme {
                display: flex;
            }

            &__supremeWrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: functions.toRem(10);
            }

            &__landscapeImg {
                width: 60%;
                flex-shrink: 0;
            }
        }

        @include custom.media-breakpoint-up(lg) {

            &__blossomImg {
                width: 40%;
            }

            &__landscapeImg {
                width: 50%;
            }
        }
    }
    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {

        &__infoWrapper {
            display: flex;
            align-items: center;
        }

        &__blossomImg {
            width: 45%;
            flex-shrink: 0;
            transform: translateX(15%);
            order: 2;
        }

        &__landscapeImg {
            width: 60%;
            flex-shrink: 0;
        }

        &__supreme {
            display: flex;
        }

        &__supremeWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__price {
            width: 40%;
        }

        @include custom.media-breakpoint-up(md) {

            &__landscapeImg {
                width: 50%;
            }

        }
        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(lg) {

            &__advice {
                text-align: center;
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: functions.toRem(16);

                b {
                    border-right: functions.toRem(1) solid;
                    padding: functions.toRem(16);
                }
            }

            &__priceAndAdviceWrapper {
                display: flex;
                gap: functions.toRem(32);
            }

            &__landscapeImg {
                width: 40%;
            }

            &__price {
                width: 30%;
            }

            &__supreme {
                margin-top: functions.toRem(25) !important;
            }
        }

        @include custom.media-breakpoint-up(xl) {

            &__infoWrapper {

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        width: 70%;
                    }
                }
            }

            p {
                line-height: 2 !important;
            }

            &__blossomImg {
                width: 35%;
                transform: translateX(10%);
            }

            &__landscapeImg {
                width: 35%;
            }

            &__supremeInfo {
                padding: functions.toRem(20);
                gap: functions.toRem(30) !important;
            }

            &__price {
                width: 25%;
            }
        }
    }
}