@use './../../../custom';
@use './../../../components/functions';

.sight {

    // ALL BREAKPOINTS 
    &__info {
        background: linear-gradient(
            180deg,
            custom.$white,
            custom.$secondary,
        );
    }
    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    @media (orientation: portrait) {

        &__info {
            width: 100%;
        }

        &__halfFaceImg {
            width: 150%;
            shape-outside: polygon(60% 50%, 80% 80%, 60% 100%, 100% 100%, 100% 100%, 100% 0, 65% 0%, 50% 23%);
            transform: translateX(10%);

            img {
                mask-image: linear-gradient(0deg, transparent 5%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 60%, transparent 97%);
            }
        }

        &__eyesLashes {
            width: 35%;
        }

        @include custom.media-breakpoint-up(md) {

            &__halfFaceImg {
                width: 35%;
            }

            &__info {
                width: 100%;
            }

            &__eyesLashes {
                width: 20%;
            }

            &__container {
                height: 100%;
            }

            &__description {
                padding-top: functions.toRem(16);
                height: 85%;


                p:nth-child(even) {
                    color: custom.$primary;
                    font-size: clamp(functions.toRem(20), calc(functions.toRem(20) + 0.5vw), functions.toRem(40));
                    font-weight: 200;
                    color: custom.$primary;
                    font-family: custom.$secondary-ff;
                }
            }
        }

        @include custom.media-breakpoint-up(lg) {
    

            &__halfFaceImg {
                width: 40%;
            }

            &__info {
                width: auto;
            }

            &__description {
                padding: functions.toRem(16);
            }

            &__eyesLashes {
                width: 20%;
            }
        }
    }
    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {

        &__halfFaceImg {
            width: 40%;
            transform: translate(13%);
            shape-outside: polygon(60% 50%, 80% 80%, 60% 100%, 100% 100%, 100% 100%, 100% 0, 65% 0%, 50% 23%);

            img {
                mask-image: linear-gradient(0deg, transparent 5%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 60%, transparent 97%);
            }
        }

        &__eyesLashes {
            width: 20%;
        }

        &__description {

            p {
                line-height: initial !important;
            }
        }

        @include custom.media-breakpoint-up(md) {

            &__halfFaceImg {
                width: 30%;
            }

            &__description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &__eyesLashes {
                width: 15%;
            }
        }
        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(lg) {

            margin-bottom: functions.toRem(-50);

            h2 {
                margin-bottom: functions.toRem(-16) !important;
            }

            &__container {
                display: flex;
                justify-content: space-between;
            }

            &__halfFaceImg {
                width: 50%;
                float: none !important;
                order: 2;
                transform: translate(10%);
                margin-left: functions.toRem(-200);
            }

            &__description {
                justify-content: center;
                padding: functions.toRem(32);

                p {
                    line-height: 2 !important;
                }
            }
        }

        @include custom.media-breakpoint-up(xl) {

            &__halfFaceImg {
                width: 35%;
                transform: translate(8%);
            }
        }
    }
}