@use './../../custom';
@use './../../components/functions';

.contact {

	// ALL BREAKPOINTS

	&__apptFormWrapper {
		height: functions.toRem(38);
		display: flex;
		flex-wrap: nowrap;
		gap: functions.toRem(10);
		justify-content: space-between;

		select {
			flex-grow: 1;
		}

		button {
			display: block;
			border: functions.toRem(1) solid custom.$dark;
			border-radius: functions.toRem(5);
			aspect-ratio: 1 / 1;
			position: relative;
			flex-shrink: 0 !important;

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: functions.toRem(20);
			}
		}
	}

	&__wrapper {
		position: relative;
		z-index: 1;
	}

	// carousel override
	.carousel {
		margin-bottom: functions.toRem(16);
	}

	///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
	@media (orientation: portrait) {

		background-image: url('/images/contact/cloud_bg_illustration.svg');
		background-repeat: repeat-y;
		background-size: contain;

		&__margin {
			margin-left: functions.toRem(16);
			margin-right: functions.toRem(16);
		}

		&__bikeImg {
			transform: scale(1.2) translateY(-5%);
		}

		&__apptSuggestions {

			div {
				max-width: 45%;
			}
		}

		// carousel override
		.carousel {
			margin-left: functions.toRem(8);
			margin-right: functions.toRem(8);
		}

		.carousel__review-holder {
			width: 85%;
		}

		.carousel__arrows {
			width: functions.toRem(25);
			
			span {
				width: functions.toRem(25) !important;
				height: functions.toRem(25) !important;
			}
		}

		@include custom.media-breakpoint-up(md) {

			width: 75%;
			margin: functions.toRem(16) auto;
			box-shadow: 0 0 functions.toRem(5) functions.toRem(5) rgba(custom.$dark, 0.7);
			border-radius: functions.toRem(10);
			margin-bottom: functions.toRem(16);
			background-size: cover;

			&__bikeImg {
				transform: scaleX(1.5) scaleY(1.4) translateY(-5%);
				margin-bottom: functions.toRem(16);
			}

			// carousel override
            .carousel__item {
                gap: 0 !important;
				width: 100% !important;
				height: 100% !important;
            }
    
            .carousel__img-holder {
                display: none !important;
            }

            .carousel__review-holder {
				width: 85%;
				height: 90%;
            }
    
            .carousel__icon {
				height: functions.toRem(45);
				width: functions.toRem(45);
            }
    
            .carousel__stars {
				height: functions.toRem(30);
				width: functions.toRem(30);
            }
    
            .carousel__decor-holder {
                display: none !important;
            }

			.carousel__arrows {
				width: functions.toRem(45);
			}
		}

		@include custom.media-breakpoint-up(lg) {

			&__review {
				margin: functions.toRem(16) auto !important;
				width: 75%;
			}

			// carousel override
			.carousel {
				height: 23vh;
				margin-left: 0;
				margin-right: 0;
			}

			.carousel__inner {
                height: 100%;
            }

            .carousel__item {
                gap: functions.toRem(16) !important;
            }
    
            .carousel__img-holder {
                width: 45%;
                height: 80%;
                display: flex !important;
            }
    
            .carousel__review-holder {
                width: 50%;
                height: 100%;
    
                blockquote {
                    font-size: custom.$body-landscape-fs;
                    margin: 0;
                }
    
                figcaption {
                    font-size: custom.$body-landscape-fs;
                }

				figure {
					padding: functions.toRem(16) !important;
				}
    
            }
    
            .carousel__icon {
                height: functions.toRem(35);
                width: functions.toRem(35);
            }
    
            .carousel__stars {
                height: functions.toRem(20);
                width: functions.toRem(20);
            }
    
            .carousel__decor-holder {
                width: 5%;
                height: 80%;
                display: block !important;
            }
    
            .carousel__arrows {
                width: functions.toRem(30);
                
                span {
                    width: functions.toRem(16) !important;
                    height: functions.toRem(16) !important;
                }
            }
		}
	}
	///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
	@media (orientation: landscape) {

		background-image: url('/images/contact/cloud_bg_landscape_illustration.svg');
		background-repeat: repeat-y;
		background-size: 100%;

		&__margin {
			margin-left: functions.toRem(16);
			margin-right: functions.toRem(16);
		}

		&__bikeImg {
			transform: scale(1.2) translateY(-5%);
		}

		&__apptSuggestions {

			div {
				width: 45%;
				flex-grow: 1;
			}
		}

		// carousel override
		.carousel__item {
			gap: 0 !important;
			width: 100% !important;
			height: 100% !important;
		}

		.carousel__img-holder {
			display: none !important;
		}

		.carousel__review-holder {
			width: 85%;
			height: 90%;
		}

		.carousel__icon {
			height: functions.toRem(45);
			width: functions.toRem(45);
		}

		.carousel__stars {
			height: functions.toRem(30);
			width: functions.toRem(30);
		}

		.carousel__decor-holder {
			display: none !important;
		}

		.carousel__arrows {
			width: functions.toRem(50);
		}

		@include custom.media-breakpoint-up(md) {

			&__margin {
				margin-right: functions.toRem(0);
			}

			&__imgAndContent {
				display: flex;
			}

			&__bikeImg {
				flex: 1;
				display: flex;
				align-items: flex-end;
				transform: scale(1.2) translateY(-5%);
				transform-origin: left;
				margin-bottom: functions.toRem(16);
			}

			&__wrapper {
				flex: 1;
				position: relative;
				z-index: 1;
				
				form {
					padding-right: 0 !important;
				}
			}

			// carousel override 
			.carousel {
				margin-left: functions.toRem(16);
			}

			.carousel__arrows {
				width: functions.toRem(32);
			}
		}

		@include custom.media-breakpoint-up(lg) {

			// carousel override
			.carousel__review-holder {
                border: functions.toRem(10) solid custom.$primary;
				box-shadow: functions.toRem(2) functions.toRem(4) functions.toRem(10) rgba(custom.$dark, 0.6), functions.toRem(-2) functions.toRem(4) functions.toRem(10) rgba(custom.$dark, 0.6);
            }

			.carousel__controls {
                gap: functions.toRem(8) !important;
                margin-bottom: functions.toRem(24) !important;

                [data-bs-target] {
                    padding: functions.toRem(2) functions.toRem(5) !important;
                }

            }
		}
		/////////////////// LAPTOP AND DESKTOP  ///////////////////
		@include custom.media-breakpoint-up(xl) {

			@media screen and (min-height: functions.toRem(1000)) {
				@media screen and (max-width: functions.toRem(1400)) {
					.carousel {
						height: 40vh !important;
					}
				}

			}

			width: 85%;
			margin: functions.toRem(16) auto 0;
			// box-shadow: 0 0 functions.toRem(5) functions.toRem(5) rgba(custom.$dark, 0.7);
			box-shadow: 0 0 functions.toRem(5) functions.toRem(5) rgba(custom.$primary, 0.7);
			border-radius: functions.toRem(10) functions.toRem(10) 0 0;
			padding-right: 0 !important;
			padding-bottom: 0 !important;

			&__margin {
				margin-right: functions.toRem(16);
			}

			&__imgAndContent {
				padding-right: 0 !important;
				padding-bottom: 0 !important;
			}

			&__bikeImg {
				transform: scale(1) translateY(0);
				margin-bottom: 0;
				width: 35%;
				flex: initial;
			}

			&__wrapper {
				width: 65%;
			}

			&__formSuggestions {
				border-radius: 0 functions.toRem(8) 0 0;
			}

			&__review {
				border: functions.toRem(1) solid;
				font-weight: bold;
			}

			// carousel override
			.carousel {
				margin-left: 0;
				margin-bottom: 0 !important;
				height: 55vh;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			}

			.carousel__item  {
				gap: functions.toRem(16) !important;
			}

			.carousel__controls {
				height: auto;
				width: 100% !important;

				[data-bs-target] {
                    padding: functions.toRem(4) functions.toRem(8) !important;
                }
			}
	
			.carousel__inner {
				height: 75%;
			}
	
			.carousel__img-holder {
				width: 40%;
				height: 80%;
				display: flex !important;
				background-color: custom.$primary !important;
			}

			.carousel__img {
				margin-left: 10%;
				border: functions.toRem(2) solid;
			}
	
			.carousel__review-holder {
				width: 55%;
				height: 100%;
				background-color: custom.$white;

				figure {
					padding: functions.toRem(8) functions.toRem(16) !important;
					gap: functions.toRem(8) !important;

					blockquote {
						line-height: initial;
					}
				}

			}
	
			.carousel__decor-holder {
				width: 5%;
				height: 80%;
				display: block !important;
				background-color: custom.$primary !important;
			}

			.carousel__arrows {
				
				span {
					width: functions.toRem(20) !important;
					height: functions.toRem(20) !important;
				}
			}
		}
	}
}
