@use './../../custom';
@use './../../components/functions';

.about {
    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {
        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(xl) {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}