@use './../../custom';
@use './../../components/functions';

.owner {

    // ALL BREAKPOINTS 
    box-shadow: 0 0 functions.toRem(5) functions.toRem(5) rgba(custom.$primary, 0.7);

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    @media (orientation: portrait) {

        &__profileImg {
            width: 100%;
            mask-image: linear-gradient(
                to bottom,
                custom.$secondary 0%,
                custom.$secondary 70%,
                transparent 95%
            ) 
        }

        @include custom.media-breakpoint-up(md) {

            display: flex;
            flex-direction: row-reverse;
            overflow: hidden;

            &__profileImg {
                width: 50%;
                mask-image: none;
                margin-bottom: functions.toRem(-15);
            }

            &__info {
                padding: functions.toRem(20);
            }
        }

        @include custom.media-breakpoint-up(lg) {

            &__profileImg {
                width: 35%;
            }

            &__info {
                padding: functions.toRem(32);
                
                p {
                    line-height: 2;
                }
            }
        } 
    }
    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {

        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;

        &__profileImg {
            width: 50%;
            margin-bottom: functions.toRem(-15);
        }

        &__info {
            padding: functions.toRem(20);
        }

        @include custom.media-breakpoint-up(md) {

            justify-content: space-between;

            &__profileImg {
                width: 40%;
            }

            &__info {
                width: 50%;
                align-self: center;
                line-height: 2;
            }
        }
        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(lg) {

            &__profileImg {
                width: 35%;
            }

            &__info {
                width: 60%;
                align-self: center;
                line-height: 2;
            }
        }
    }
}