<!-- Q&A ACCORDION COMPONENT -->
<h2 class="heading-2 text-center">Foire Aux Questions</h2>
<div class="accordion" id="faqaccordion">
    <!-- QUESTION 1 -->
    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Quelles sont vos horaires d'ouverture?
            </button>
        </h3>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#faqaccordion">
            <div class="accordion-body text-start">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum soluta ipsa consequatur libero
                officiis animi corporis quae incidunt assumenda molestias voluptatibus, quas eaque odio cumque.
                Cumque similique numquam excepturi repellendus quis eos veniam sint ducimus?
            </div>
        </div>
    </div>
    <!-- QUESTION 2 -->
    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Comment prendre rendez-vous?
            </button>
        </h3>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faqaccordion">
            <div class="accordion-body text-start">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, cumque tenetur quam consequuntur
                asperiores adipisci sequi autem magnam officiis voluptas!
            </div>
        </div>
    </div>
    <!-- QUESTION 3 -->
    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Quelles méthodes de paiement acceptez-vous?
            </button>
        </h3>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faqaccordion">
            <div class="accordion-body text-start">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis voluptatibus amet voluptas
                maxime minima nemo. Quis doloribus esse laborum unde fuga necessitatibus quia error ducimus
                temporibus delectus enim, recusandae eum, modi quidem reiciendis ipsam qui.
            </div>
        </div>
    </div>
    <!-- QUESTION 4 -->
    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Est-ce que l'institut propose des services pour les hommes?
            </button>
        </h3>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#faqaccordion">
            <div class="accordion-body text-start">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut aliquam commodi dignissimos, ab
                blanditiis quam eos dolor nulla autem vitae voluptatem alias iste voluptas nam.
            </div>
        </div>
    </div>
    <!-- QUESTION 5 -->
    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Vendez-vous des produits de beauté?
            </button>
        </h3>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#faqaccordion">
            <div class="accordion-body text-start">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum nobis, dolorem ex illum vero culpa.
                Consequatur, sit deserunt accusamus illo repellat sequi voluptates, ab ullam mollitia veritatis
                quis. Voluptatum impedit quo dolor minima tempora perspiciatis optio minus magnam. Rerum,
                praesentium.
            </div>
        </div>
    </div>
    <!-- QUESTION 6 -->
    <div class="accordion-item">
        <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Avez-vous un parking pour que je gare mon véhicule?
            </button>
        </h3>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#faqaccordion">
            <div class="accordion-body text-start">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quasi nemo, cupiditate nam nesciunt
                ducimus doloribus cum, praesentium impedit ab, harum maiores quam aspernatur animi quidem at quo
                minima recusandae.
            </div>
        </div>
    </div>
</div>