<!-- FOOTER COMPONENT -->
<div class="container-fluid pb-2">
    <!-- START OF THE FOOTER MAIN CONTENT -->
    <div class="row flex-wrap footer__main mb-4">
        <!-- CONTACT INFO FOOTER SECTION -->
        <div class="gap-2 col-12 d-flex flex-column justify-content-between py-1 footer__contact">
            <div class="footer__title">
                <h3 class="mb-0 heading-2 align-self-start">Contact
                </h3>
                <hr>
            </div>
            <p class="mb-0">Prise de rendez-vous? Besoin de plus d'informations? Brigitte sera ravie de répondre à vos
                questions!</p>
            <h4 class="fw-bold mb-0"><i class="fa-solid fa-phone me-2"></i>Téléphone :</h4>
            <a href="tel:+33659514691" aria-roledescription="button" role="button"
                class="btn btn-secondary text-dark py-2 footer__btn text-decoration-none fw-bold">
                +33 6 59 51 46 91
            </a>
            <h4 class="fw-bold mb-0"><i class="fa-solid fa-envelope me-2"></i>Messagerie :</h4>
            <a href="/contact.html" role="button" aria-roledescription="button"
                class="btn btn-secondary text-dark py-2 footer__btn text-decoration-none fw-bold">
                Formulaire de contact
            </a>
            <strong class="border p-3 text-center">Prestations sur rendez-vous uniquement</strong>
        </div>
        <!-- MAPS FOOTER SECTION -->
        <div class="col-12 d-flex flex-column justify-content-between py-1 footer__localisation gap-2">
            <div class="footer__title">
                <h3 class="heading-2 mb-0 align-self-start">Emplacement
                </h3>
                <hr>
            </div>
            <p class="mb-0">Garez-vous dans le parking sécurisé de l'institut et profitez de votre soin en toute
                tranquilité.</p>
            <div class="footer__map" id="footer__map"></div>
        </div>
        <!-- OPENING HOURS FOOTER SECTION -->
        <div class="col-6 d-flex flex-column justify-content-between py-1 footer__hours gap-2">
            <div class="footer__title">
                <h3 class="heading-2 mb-0 align-self-start text-nowrap">Horaires <span class="align-top">&ast;</span>
                </h3>
                <hr>
            </div>
            <dl class="d-flex flex-column justify-content-between flex-fill mb-0">
                <div class="d-flex gap-3">
                    <dt>Lundi</dt>
                    <dd>Fermé</dd>
                </div>
                <div class="d-flex gap-3">
                    <dt>Mardi</dt>
                    <dd>8h30-19h</dd>
                </div>
                <div class="d-flex gap-3">
                    <dt>Mercredi</dt>
                    <dd>8h30-19h</dd>
                </div>
                <div class="d-flex gap-3">
                    <dt>Jeudi</dt>
                    <dd>8h30-19h</dd>
                </div>
                <div class="d-flex gap-3">
                    <dt>Vendredi</dt>
                    <dd>8h30-19h</dd>
                </div>
                <div class="d-flex gap-3">
                    <dt>Samedi</dt>
                    <dd>8h30-19h</dd>
                </div>
                <div class="d-flex gap-3">
                    <dt>Dimanche</dt>
                    <dd>Fermé</dd>
                </div>
            </dl>
            <small><span class="fs-6">&ast; </span>Les horaires d'ouvertures ne permettent pas de prédire les
                disponibilités.</small>
        </div>
        <!-- GIFT CARD FOOTER SECTION -->
        <div class="col-6 d-flex flex-column py-1 position-relative footer__gift">
            <div class="footer__title">
                <h3 class="heading-2 align-self-start mb-0 text-nowrap">Bon cadeau
                </h3>
                <hr>
            </div>
            <p class="mb-0">Vous ne pouvez pas offrir le bonheur, mais vous pouvez offrir des massages.</p>
            <a href="/gift.html" class="btn btn-secondary text-dark footer__btn text-decoration-none fw-bold"
                role="button" aria-roledescription="button">Offrir</a>
        </div>
        <hr class="d-block footer__separator m-0 mt-3 mx-auto">
    </div>
    <!-- START OF THE FOOTER LEGAL MENTIONS CONTENT -->
    <div class="row">
        <div class="col-12">
            <p class="text-center mb-0"><em>L'ensemble des photos, vidéos et illustrations utilisées sur le site web
                    sont non contractuelles.</em></p>
            <p class="text-center mb-0">&copy; Copyright 2024 <a class="text-white text-decoration-none"
                    href="/home.html">Institut For You</a> - Tous droits réservés</p>
        </div>
    </div>
</div>