<!-- NAVBAR COMPONENT -->
<div class="container-fluid justify-content-end column-gap-2">
    <!-- Salon logo -->
    <img src="/images/placeholder_logo.svg" alt="Institut For You Placeholder Logo" class="me-auto navbar__logo">
    <!-- Navbar toggler -->
    <button class="navbar-toggler navbar__toggler navbar__toggler--menu focus-ring" type="button"
        data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false"
        aria-label="Toggle Navigation Menu">
        <i class="fa-solid fa-bars"></i>
    </button>
    <!-- Search bar toggler -->
    <button class="navbar-toggler navbar__toggler navbar__toggler--search order-md-3 focus-ring" type="button"
        data-bs-toggle="collapse" data-bs-target="#searchBar" aria-controls="searchBar" aria-expanded="false"
        aria-label="Toggle Search Bar">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-center navbar__menu" id="navMenu">
        <ul class="navbar-nav flex-md-row justify-content-center">
            <li class="nav-item px-2">
                <a href="/home.html" class="nav-link text-capitalize">accueil</a>
            </li>
            <li class="nav-item dropdown px-2">
                <a href="/massages.html" class="nav-link dropdown-toggle text-capitalize" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">massages</a>
                <ul class="dropdown-menu navbar__dropdown bg-primary">
                    <li>
                        <a href="/massages.html" data-redirect="null" class="dropdown-item text-capitalize">tous les
                            massages</a>
                    </li>
                    <li>
                        <h6 class="dropdown-header text-capitalize">massages du visage</h6>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/massages.html?target=mk"
                            data-redirect="mk">massages kobido</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/massages.html?target=mbr"
                            data-redirect="mbr">massage beauté du regard</a>
                    </li>
                    <li>
                        <h6 class="dropdown-header text-capitalize">massages du corps</h6>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/massages.html?target=mc"
                            data-redirect="mc">massage californien</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/massages.html?target=gm"
                            data-redirect="gm">gommage & massage</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown px-2">
                <a href="/treatments.html" class="nav-link dropdown-toggle text-capitalize" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">soins</a>
                <ul class="dropdown-menu navbar__dropdown bg-primary">
                    <li>
                        <a href="/treatments.html" class="dropdown-item text-capitalize">tous les soins</a>
                    </li>
                    <li>
                        <h6 class="dropdown-header text-capitalize">soins du visage</h6>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/treatments.html">soin coup d'éclat</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/treatments.html">soin hydratant &
                            nourrissant</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/treatments.html">soin traitant</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/treatments.html">soin anti-âge</a>
                    </li>
                    <li>
                        <h6 class="dropdown-header text-capitalize">soins du corps</h6>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/treatments.html">cryothérapie</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown px-2">
                <a href="/waxing.html" class="nav-link dropdown-toggle text-capitalize" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">épilations</a>
                <ul class="dropdown-menu navbar__dropdown">
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">toutes les épilations</a>
                    </li>
                    <li>
                        <h6 class="dropdown-header text-capitalize">épilations du visage</h6>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">sourcils</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">lèvres</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">menton</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">joues</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">cou</a>
                    </li>
                    <li>
                        <h6 class="dropdown-header text-capitalize">épilations du corps</h6>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">ventre</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">jambes</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">maillot</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">aisselles</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-capitalize" href="/waxing.html">bras</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item text-capitalize px-2">
                <a href="/about.html" class="nav-link">l'institut</a>
            </li>
            <li class="nav-item text-capitalize px-2">
                <a href="/contact.html" class="nav-link">contact</a>
            </li>
        </ul>
    </div>
    <!-- Search Bar -->
    <div class="collapse navbar-collapse flex-grow-0 position-relative order-md-4" id="searchBar">
        <div class="input-group d-flex mt-3 mt-lg-0 navbar__input-group" id="searchGroup">
            <input type="text" class="form-control border border-0 z-1 navbar__input shadow-none"
                placeholder="Que cherchez-vous?" aria-label="Search bar" aria-describedby="searchBar" id="searchInput">
            <button class="btn btn-outline-secondary navbar__search-btn border border-0 border-start" type="button">
                <i class="fa-solid fa-magnifying-glass d-flex"></i>
            </button>
        </div>
        <div class="navbar__search-dropdown position-absolute top-100 start-0 w-100 bg-white rounded-bottom d-none">
            <ul class="list-group rounded-bottom"></ul>
        </div>
    </div>
</div>