<!-- REVIEWS CAROUSEL COMPONENT -->
<!-- CONTROL BUTTONS ABOVE THE CAROUSEL -->
<div class="carousel__controls d-none carousel-indicators position-static gap-2 w-100 mx-auto mb-2 px-3">
    <button type="button" data-bs-target="#reviewsCarousel" data-bs-slide-to="0" aria-current="true"
        aria-label="Slide 1" class="flex-fill active h-100 m-0 border-0 rounded-pill p-1 text-capitalize">
        reviewer's name
    </button>
    <button type="button" data-bs-target="#reviewsCarousel" data-bs-slide-to="1" aria-label="Slide 2"
        class="flex-fill h-100 m-0 border-0 rounded-pill p-1 text-capitalize">
        reviewer's name
    </button>
    <button type="button" data-bs-target="#reviewsCarousel" data-bs-slide-to="2" aria-label="Slide 3"
        class="flex-fill h-100 m-0 border-0 rounded-pill p-1 text-capitalize">
        reviewer's name
    </button>
    <button type="button" data-bs-target="#reviewsCarousel" data-bs-slide-to="3" aria-label="Slide 4"
        class="flex-fill h-100 m-0 border-0 rounded-pill p-1 text-capitalize">
        reviewer's name
    </button>
    <button type="button" data-bs-target="#reviewsCarousel" data-bs-slide-to="4" aria-label="Slide 5"
        class="flex-fill h-100 m-0 border-0 rounded-pill p-1 text-capitalize">
        reviewer's name
    </button>
</div>
<!-- CAROUSEL CONTENT -->
<div class="carousel-inner carousel__inner">
    <!-- CAROUSEL SLIDE 1 -->
    <div class="carousel-item pb-3 active h-100">
        <div class="carousel__item d-flex align-items-center h-100 w-100 flex-nowrap gap-2 justify-content-center">
            <div class="carousel__img-holder d-none bg-secondary align-items-center justify-content-center">
                <div class="carousel__img overflow-hidden rounded-circle">
                    <img loading="lazy" src="/images/homepage/calf_massage_image.jpg" alt="woman getting a calf massage"
                        class="img-fluid" width="1800" height="1200">
                </div>
            </div>
            <div class="carousel__review-holder d-flex align-items-center rounded text-center">
                <figure class="w-100 h-100 p-2 d-flex flex-column align-items-center justify-content-center gap-2 mb-0">
                    <img loading="lazy" src="/images/homepage/quote_icon.svg" alt="quote icon" class="carousel__icon">
                    <blockquote class="overflow-y-auto blockquote">
                        If you see that text, it means that a problem occured. The review couldn't be loaded on the
                        website. You can access it directly on Google by searching "Institut For You". Sorry for the
                        inconvenience, the issue should be fixed shortly.
                    </blockquote>
                    <div class="d-flex flex-nowrap">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                    </div>
                    <figcaption class="text-capitalize blockquote-footer m-0 fst-italic">
                        reviewer's name
                    </figcaption>
                </figure>
            </div>
            <div class="bg-secondary carousel__decor-holder d-none"></div>
        </div>
    </div>
    <!-- CAROUSEL SLIDE 2 -->
    <div class="carousel-item pb-3 h-100">
        <div class="carousel__item d-flex align-items-center h-100 w-100 flex-nowrap gap-2 justify-content-center">
            <div class="carousel__img-holder d-none bg-secondary align-items-center justify-content-center">
                <div class="carousel__img overflow-hidden rounded-circle">
                    <img loading="lazy" src="/images/homepage/ribs_massage_image.jpg"
                        alt="woman getting a massage - image" class="img-fluid" width="740" height="1113">
                </div>
            </div>
            <div class="carousel__review-holder d-flex align-items-center rounded text-center">
                <figure class="w-100 h-100 p-2 d-flex flex-column align-items-center justify-content-center gap-2 mb-0">
                    <img loading="lazy" src="/images/homepage/quote_icon.svg" alt="quote icon" class="carousel__icon">
                    <blockquote class="overflow-y-auto blockquote">
                        If you see that text, it means that a problem occured. The review couldn't be loaded on the
                        website. You can access it directly on Google by searching "Institut For You". Sorry for the
                        inconvenience, the issue should be fixed shortly.
                    </blockquote>
                    <div class="d-flex flex-nowrap">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                    </div>
                    <figcaption class="text-capitalize blockquote-footer m-0 fst-italic">
                        reviewer's name
                    </figcaption>
                </figure>
            </div>
            <div class="bg-secondary carousel__decor-holder d-none"></div>
        </div>
    </div>
    <!-- CAROUSEL SLIDE 3 -->
    <div class="carousel-item pb-3 h-100">
        <div class="carousel__item d-flex align-items-center h-100 w-100 flex-nowrap gap-2 justify-content-center">
            <div class="carousel__img-holder d-none bg-secondary align-items-center justify-content-center">
                <div class="carousel__img overflow-hidden rounded-circle">
                    <img loading="lazy" src="/images/homepage/towel_woman_image.jpg"
                        alt="woman getting ready for her massage - image" class="img-fluid" width="1800" height="1200">
                </div>
            </div>
            <div class="carousel__review-holder d-flex align-items-center rounded text-center">
                <figure class="w-100 h-100 p-2 d-flex flex-column align-items-center justify-content-center gap-2 mb-0">
                    <img loading="lazy" src="/images/homepage/quote_icon.svg" alt="quote icon" class="carousel__icon">
                    <blockquote class="overflow-y-auto blockquote">
                        If you see that text, it means that a problem occured. The review couldn't be loaded on the
                        website. You can access it directly on Google by searching "Institut For You". Sorry for the
                        inconvenience, the issue should be fixed shortly.
                    </blockquote>
                    <div class="d-flex flex-nowrap">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                    </div>
                    <figcaption class="text-capitalize blockquote-footer m-0 fst-italic">
                        reviewer's name
                    </figcaption>
                </figure>
            </div>
            <div class="bg-secondary carousel__decor-holder d-none"></div>
        </div>
    </div>
    <!-- CAROUSEL SLIDE 4 -->
    <div class="carousel-item pb-3 h-100">
        <div class="carousel__item d-flex align-items-center h-100 w-100 flex-nowrap gap-2 justify-content-center">
            <div class="carousel__img-holder d-none bg-secondary align-items-center justify-content-center">
                <div class="carousel__img overflow-hidden rounded-circle">
                    <img loading="lazy" src="/images/homepage/cream_zoom_image.jpg" alt="close-up of a cream - image"
                        class="img-fluid" width="1800" height="1200">
                </div>
            </div>
            <div class="carousel__review-holder d-flex align-items-center rounded text-center">
                <figure class="w-100 h-100 p-2 d-flex flex-column align-items-center justify-content-center gap-2 mb-0">
                    <img loading="lazy" src="/images/homepage/quote_icon.svg" alt="quote icon" class="carousel__icon">
                    <blockquote class="overflow-y-auto blockquote">
                        If you see that text, it means that a problem occured. The review couldn't be loaded on the
                        website. You can access it directly on Google by searching "Institut For You". Sorry for the
                        inconvenience, the issue should be fixed shortly.
                    </blockquote>
                    <div class="d-flex flex-nowrap">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                    </div>
                    <figcaption class="text-capitalize blockquote-footer m-0 fst-italic">
                        reviewer's name
                    </figcaption>
                </figure>
            </div>
            <div class="bg-secondary carousel__decor-holder d-none"></div>
        </div>
    </div>
    <!-- CAROUSEL SLIDE 5 -->
    <div class="carousel-item pb-3 h-100">
        <div class="carousel__item d-flex align-items-center h-100 w-100 flex-nowrap gap-2 justify-content-center">
            <div class="carousel__img-holder d-none bg-secondary align-items-center justify-content-center">
                <div class="carousel__img overflow-hidden rounded-circle">
                    <img loading="lazy" src="/images/homepage/massage_oil_image.jpg"
                        alt="woman getting some massage oil on her back - image" class="img-fluid" width="1800"
                        height="1201">
                </div>
            </div>
            <div class="carousel__review-holder d-flex align-items-center rounded text-center">
                <figure class="w-100 h-100 p-2 d-flex flex-column align-items-center justify-content-center gap-2 mb-0">
                    <img loading="lazy" src="/images/homepage/quote_icon.svg" alt="quote icon" class="carousel__icon">
                    <blockquote class="overflow-y-auto blockquote">
                        If you see that text, it means that a problem occured. The review couldn't be loaded on the
                        website. You can access it directly on Google by searching "Institut For You". Sorry for the
                        inconvenience, the issue should be fixed shortly.
                    </blockquote>
                    <div class="d-flex flex-nowrap">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                        <img loading="lazy" src="/images/homepage/review_star_icon.svg" alt="review star icon"
                            class="carousel__stars">
                    </div>
                    <figcaption class="text-capitalize blockquote-footer m-0 fst-italic">
                        reviewer's name
                    </figcaption>
                </figure>
            </div>
            <div class="bg-secondary carousel__decor-holder d-none"></div>
        </div>
    </div>
    <!-- PREVIOUS AND NEXT SLIDE CONTROLS -->
    <button class="carousel-control-prev carousel__arrows" type="button" data-bs-target="#reviewsCarousel"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next carousel__arrows" type="button" data-bs-target="#reviewsCarousel"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>