@use "components/functions";

// COLORS
$primary: #9a1d71;
$secondary: #eeaad7;
$dark: #2f2d2d;
$white: #fcf8f8;
$white-03: hsla(0, 33%, 98%, 0.3);
$white-05: hsla(0, 33%, 98%, 0.5);

// FONTS
$body-fs: clamp(functions.toRem(14), calc(functions.toRem(14) + 0.2vw), functions.toRem(17));
$body-landscape-fs: clamp(functions.toRem(12), calc(functions.toRem(12) + 0.3vw), functions.toRem(17));
$btn-font-size: $body-fs;
$main-ff: "Libre Franklin", sans-serif;
$secondary-ff: 'Bodoni Moda', serif;

// CAROUSEL
$carousel-control-color: $dark;

// NAVBAR
$navbar-light-color: $white;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;
$navbar-toggler-border-radius: functions.toRem(8);

// FOCUS RING
$focus-ring-width: 0.13rem;
$focus-ring-opacity: 0.8;
$focus-ring-color: $secondary;
$focus-ring-blur: functions.toRem(2);

// DROPDOWN
$dropdown-bg: $primary;
$dropdown-spacer: functions.toRem(7);
$dropdown-border-color: $dark;
$dropdown-border-radius: functions.toRem(10);
$dropdown-link-color: $white;
$dropdown-border-width: functions.toRem(1.3);
$dropdown-link-hover-color: $dark;
$dropdown-link-hover-bg: $secondary;
$dropdown-header-color: $white-05;
$dropdown-item-padding-x: functions.toRem(23);
$dropdown-header-padding-x: functions.toRem(15);

// BLOCKQUOTE
$blockquote-footer-color: $dark;
$blockquote-footer-font-size: $body-fs;

// ACCORDION
$accordion-button-active-bg: $white;

// LISTS
$list-group-hover-bg: $secondary;
$list-group-bg: $white;

// BUTTONS
$btn-font-size: $body-fs;

// GLOBAL SETTINGS
:root {
    --navbarHeight: 3.5rem;
    --review-btn-length: 0;
    --review-box-top: 0;
}

body {
    width: 100% !important;
    max-width: 100vw !important;
    min-height: 100vh;
    font-size: $body-fs !important;
    scroll-behavior: smooth;
    font-family: $main-ff;
    overflow-x: hidden !important;
    visibility: hidden;

    @media (orientation: landscape) {
        font-size: $body-landscape-fs !important;
    }
}

main {
    margin-top: var(--navbarHeight);
}

// IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap";
