@use '../../custom';
@use '../../components/functions';

.benefit {

    // ALL BREAKPOINTS 
    background-image: url('/images/homepage/blob_pink_background.svg');
    max-width: 100vw !important;
    overflow-x: hidden !important;

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    @media (orientation: portrait) {

        &__content {
            gap: 2rem !important;
        }

        &__p {
            order: 2;
        }

        &__img {
            order: 1;
            box-shadow: functions.toRem(7) functions.toRem(7) custom.$primary,
            functions.toRem(17) functions.toRem(17) functions.toRem(17) rgba(custom.$dark, 0.7);

            &--right {
                max-width: 80%;
            }

            &--left {
                max-width: 90%;
            }
        }

        @include custom.media-breakpoint-up(md) {

            gap: functions.toRem(32) !important;
            padding: functions.toRem(16);
            
            &__content {

                width: 85%;
            
                &:nth-child(odd) {
                    flex-direction: row !important;
                    justify-content: space-between !important;
                }
            }

            &__p {
    
                &--left {
                    width: 50%;
                    order: 1;
                }
            }

            &__img {
    
                &--right {
                    width: 40%;
                    order: 2;
                }

                &--left {
                    max-width: 100%;
                }
            }
        }
    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {

        background-size: 100% 100%;
        gap: 3rem !important;
        padding: 1rem 0;

        &__content {
            flex-direction: row !important;
            padding: 0.5rem !important;
        }

        &__p {

            &--left {
                width: 50%;
                line-height: 1.6;
            }

            &--right {
                width: 60%;
            }
        }

        &__img {
            box-shadow: functions.toRem(7) functions.toRem(7) custom.$primary,
            functions.toRem(13) functions.toRem(13) functions.toRem(13) rgba(custom.$dark, 0.7);

            &--right {
                width: 27%;
            }
    
            &--left {
                max-width: 33%;
            }
        }

        @include custom.media-breakpoint-up(md) {

            &__p {
    
                &--left {
                    line-height: 2;
                    width: 40%;
                }
    
                &--right {
                    line-height: 2;
                }
            }
        }

        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(lg) {

            &__content {

                &:nth-child(even) {
                    gap: 2rem !important;
                }
            }

            &__p {
            
                &--left {
                    max-width: 40%;
                }
            }

            &__img {
    
                &--right {
                    max-width: 25%;
                }
        
                &--left {
                    max-width: 35%;
                }
            }
        }

        @include custom.media-breakpoint-up(xl) {

            &__p {
                line-height: 2.5;

                &--right {
                    width: 50%;
                }

                &--left {
                    width: 35%;
                }
            }

            &__img {
                box-shadow: functions.toRem(10) functions.toRem(10) custom.$primary,
                functions.toRem(20) functions.toRem(20) functions.toRem(20) rgba(custom.$dark, 0.7);
            }
        }
    }
}
