@use '../../custom';
@use '../../components/functions';

.carouselAndSummary__section {

    @include custom.media-breakpoint-up(lg) {
        margin-bottom: functions.toRem(32) !important;
    }

    @media screen and (orientation: landscape) {
        margin-bottom: functions.toRem(48) !important;
    }
}

.carousel {

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    @media (orientation: portrait) {

        height: auto;

        // CENTER PART OF THE CAROUSEL - REVIEW
        &__review-holder {
            width: 80%;
            height: 90%;
            border: functions.toRem(8) solid custom.$primary;
            box-shadow: functions.toRem(2) functions.toRem(4) functions.toRem(10) rgba(custom.$dark, 0.6), functions.toRem(-2) functions.toRem(4) functions.toRem(10) rgba(custom.$dark, 0.6);

            blockquote {
                font-size: custom.$body-fs;
                margin: 0;
            }

            figure {
                padding: 1.5rem !important;
            }
        }

        &__icon {
            height: functions.toRem(45);
            width: functions.toRem(45);
        }

        &__stars {
            height: functions.toRem(30);
            width: functions.toRem(30);
        }

        // PREVIOUS AND NEXT BUTTON ON THE SIDES OF THE CAROUSEL
        &__arrows {
            width: functions.toRem(35);
        }

        @include custom.media-breakpoint-up(md) {
    
            &__inner {
                height: 100%;
            }

            &__item {
                gap: functions.toRem(16) !important;
            }
    
            // LEFT PART OF THE CAROUSEL - ROUNDED IMAGE
            &__img-holder {
                width: 45%;
                height: 80%;
                display: flex !important;
            }
    
            &__img {
                height: 120%;
                aspect-ratio: 1 / 1;
                margin-left: 10%;
    
                &:nth-child(1) img {
                    object-position: 50% 50%;
                }
    
                &:nth-child(2) img {
                    object-position: 50% 70%;
                }
    
                &:nth-child(3) img {
                    object-position: 40% 50%;
                }
    
                &:nth-child(4) img {
                    object-position: 50% 50%;
                }
    
                &:nth-child(5) img {
                    object-position: 60% 50%;
                }
    
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
    
            // CENTER PART OF THE CAROUSEL - REVIEW
            &__review-holder {
                width: 50%;
                height: 100%;
    
                blockquote {
                    font-size: custom.$body-landscape-fs;
                    margin: 0;
                }
    
                figcaption {
                    font-size: custom.$body-landscape-fs;
                }
    
            }
    
            &__icon {
                height: functions.toRem(35);
                width: functions.toRem(35);
            }
    
            &__stars {
                height: functions.toRem(20);
                width: functions.toRem(20);
            }
    
            // RIGHT PART OF THE CAROUSEL - DECOR
            &__decor-holder {
                width: 5%;
                height: 80%;
                display: block !important;
            }
    
            // PREVIOUS AND NEXT BUTTON ON THE SIDES OF THE CAROUSEL
            &__arrows {
                width: functions.toRem(30);
                
                span {
                    width: functions.toRem(16) !important;
                    height: functions.toRem(16) !important;
                }
            }

        }

        @include custom.media-breakpoint-up(lg) {

            &__review-holder {
                figure {
                    justify-content: space-evenly !important;
                }
            }

            &__stars {
                height: functions.toRem(35);
                width: functions.toRem(35);
            }

            &__icon {
                height: functions.toRem(50);
                width: functions.toRem(50);
            }
        }
    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {

        max-height: 100vh;

        &__inner {
            height: 100%;
        }

        // LEFT PART OF THE CAROUSEL - ROUNDED IMAGE
        &__img-holder {
            width: 40%;
            height: 80%;
            display: flex !important;
        }

        &__img {
            height: 120%;
            aspect-ratio: 1 / 1;
            margin-left: 10%;

            &:nth-child(1) img {
                object-position: 50% 50%;
            }

            &:nth-child(2) img {
                object-position: 50% 70%;
            }

            &:nth-child(3) img {
                object-position: 40% 50%;
            }

            &:nth-child(4) img {
                object-position: 50% 50%;
            }

            &:nth-child(5) img {
                object-position: 60% 50%;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        // CENTER PART OF THE CAROUSEL - REVIEW
        &__review-holder {
            width: 55%;
            height: 100%;
            border: functions.toRem(8) solid custom.$primary;
            box-shadow: functions.toRem(2) functions.toRem(4) functions.toRem(10) rgba(custom.$dark, 0.6), functions.toRem(-2) functions.toRem(4) functions.toRem(10) rgba(custom.$dark, 0.6);

            blockquote {
                font-size: custom.$body-landscape-fs;
                margin: 0;
            }

            figcaption {
                font-size: custom.$body-landscape-fs;
            }

            figure {
                justify-content: space-evenly !important;
            }

        }

        &__icon {
            height: functions.toRem(40);
            width: functions.toRem(40);
        }

        &__stars {
            height: functions.toRem(20);
            width: functions.toRem(20);
        }

        // RIGHT PART OF THE CAROUSEL - DECOR
        &__decor-holder {
            width: 5%;
            height: 80%;
            display: block !important;
        }

        // PREVIOUS AND NEXT BUTTON ON THE SIDES OF THE CAROUSEL
        &__arrows {
            width: functions.toRem(30);
            
            span {
                width: functions.toRem(16) !important;
                height: functions.toRem(16) !important;
            }
        }

        @include custom.media-breakpoint-up(md) {
            max-height: 80vh;
        }

        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(lg) {
            max-height: 70vh;

            // CONTROL BUTTONS ABOVE THE CAROUSEL
            &__controls {
                display: flex !important;
                width: 100% !important;
                height: 10%;
                gap: functions.toRem(16) !important;
                margin-bottom: functions.toRem(24) !important;

                [data-bs-target] {
                    text-indent: 0%;
                    opacity: 1;
                    background: linear-gradient(
                        180deg,
                        custom.$secondary,
                        custom.$primary
                    );
                    color: custom.$white;
                    padding: 0 !important;
                }

            }

            &__inner {
                height: 90%;
            }

            &__item {
                gap: functions.toRem(16) !important;
            }

            &__img-holder {
                width: 55%;
            }

            &__img {
                margin: 0;
            }

            &__review-holder {
                border: functions.toRem(16) solid custom.$primary;
                width: 40%;
                height: 90%;
                box-shadow: functions.toRem(3) functions.toRem(7) functions.toRem(15) rgba(custom.$dark, 0.6), functions.toRem(-3) functions.toRem(7) functions.toRem(15) rgba(custom.$dark, 0.6);

                figure {
                    padding: functions.toRem(24) functions.toRem(48) !important;
                }

                blockquote {
                    line-height: 2;
                    font-size: custom.$body-fs;
                }

                figcaption {
                    font-size: custom.$body-fs;
                }
            }

            &__icon {
                height: functions.toRem(50);
                width: functions.toRem(50);
            }

            &__stars {
                height: functions.toRem(35);
                width: functions.toRem(35);
            }

            &__arrows {
                width: functions.toRem(48);

                span {
                    width: functions.toRem(32) !important;
                    height: functions.toRem(32) !important;
                }
            }

        }

        @include custom.media-breakpoint-up(xl) {
            max-height: 80vh;

            &__img-holder {
                width: 45%;
            }

            &__review-holder {
                width: 45%;

                figure {
                    padding: functions.toRem(24) functions.toRem(64) !important;
                    gap: functions.toRem(16) !important;
                }
            }

            &__decor-holder {
                width: 10%;
            }

            &__controls {
                width: 75% !important;
            }

            &__stars {
                height: functions.toRem(45);
                width: functions.toRem(45);
            }

            &__icon {
                height: functions.toRem(65);
                width: functions.toRem(65);
            }
        }
    }
}