@use '../../custom';
@use '../../components/functions';
@use '../../components/mixins';

.features {

    ///////////// ACCORDION: MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    @media (orientation: portrait) {

        &__accordion {
            display: block;
        }

        &__accordionHeader {

            &--outline {
                @include mixins.focus;
            }
        }

        &__table {
            display: none;
        }

        &__toggle {
            background-color: transparent !important;
            width: auto !important;
            padding: 0 !important;
            box-shadow: none !important;
            
            &::after {
                content: none !important;
            }
        }

        &__arrow {
            transition: all .5s ease-in-out;
            
            &--up {
                transform: rotate(270deg);
            } 

            &--down {
                transform: rotate(90deg);
            }
        }

        @include custom.media-breakpoint-up(sm) {

            &__accordion {
                width: 70%;
            }
        }

        @include custom.media-breakpoint-up(md) {

            &__accordion {
                display: none;
            }

            &__table {
                display: block;
            }
        }
        
    }

    ///////////// TABLE: MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////

    @media (orientation: landscape) {

        &__accordion {
            display: none;
        }

        &__table {
            display: block;

            button {
                font-size: custom.$body-landscape-fs;
            }
    
        }

        /////////////////// TABLE: LAPTOP AND DESKTOP  ///////////////////

        @include custom.media-breakpoint-up(lg) {
            &__table {
                width: 75%;

                button {
                    font-size: custom.$body-fs;
                } 
            }
        }
    }
}