@use '../../custom';
@use '../../components/functions';

.gift {

    // ALL BREAKPOINTS 

    &__btn {
        font-family: custom.$secondary-ff;
        font-weight: 700;
        letter-spacing: functions.toRem(5);
        text-transform: uppercase;
    }

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////

    @media (orientation: portrait) {

        &__wrapper {
            padding: 1.5rem !important;
            align-items: center;
        }

        &__icon {
            display: none;
        }

        &__container {

            width: 100%;
        
            &--img {
                order: 2;
                align-items: center;
            }

            &--text {
                order: 1;
                text-align: left !important;
                gap: 1rem;
                padding: 1rem 0.5rem;
                color: custom.$white;
            }
        }

        &__btn {
            width: 90%;
            font-size: custom.$body-landscape-fs;
        }

        @include custom.media-breakpoint-up(sm) {
            
            &__wrapper {
                flex-direction: row !important;
                flex-wrap: wrap;
                padding: 1rem !important;
            }

            &__heading {
                width: 100%;
            }

            &__container {
                width: auto;
                flex: 1;
            
                &--img {
                    order: 1;
                    padding: functions.toRem(16);
                }
    
                &--text {
                    order: 2;
                }
            }
        }

        @include custom.media-breakpoint-up(md) {

            &__wrapper {
                column-gap: functions.toRem(16);
            }

            &__container {

                &--text {
                    line-height: 1.8;
                }

                &--img {
                    max-width: 50%;
                }
            }
        }
    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {

        height: calc(100vh - var(--navbarHeight));
        background: url('/images/homepage/pink_wave_background.svg');
        background-size: 150% 120%;
        background-position: 60% 50%;

        &__heading {
            text-align: left !important;
            width: 55%;
            margin-bottom: 0;
        }

        &__wrapper {
            flex-wrap: wrap;
            height: 100% !important;
            width: 100% !important;
        }

        &__icon {
            max-width: 30%;
            display: block;
        }

        &__btn {
            width: 80%;
            padding: functions.toRem(5);
            align-self: center;
            font-size: custom.$body-landscape-fs;
        }

        &__container {

            &--text {
                max-width: 45%;
                padding: 0 0 0 functions.toRem(16);
                align-self: flex-end;
                height: 100%;
                justify-content: space-evenly;
            }

            &--img {
                max-width: 45%;
            }
        }

        @include custom.media-breakpoint-up(md) {
            &__container {

                &--text {
                    padding: 0 functions.toRem(16);
                }

            }
        }

        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(lg) {

            background-size: cover;

            &__wrapper {
                padding: 1rem !important;
            }

            &__container {

                &--text {
                    line-height: 2;
                    font-weight: 700;
                    width: 37%;
                    padding: 3rem 1rem;
                }

                &--img {
                    width: 50%;
                }
            }

            &__icon {
                max-width: 40%;
            }

        }

        @include custom.media-breakpoint-up(xl) {

            &__wrapper {
                padding: 1.5rem !important;
            }

            &__icon {
                max-width: 35%;
            }

            &__btn {
                font-size: clamp(functions.toRem(16), calc(16px + 0.2vw), functions.toRem(20));
                width: 70%;
            }
        }
    }
 }