@use '../../custom';
@use '../../components/functions';

.intro {

    // ALL BREAKPOINTS
    &__altImg {
        object-fit: cover;
        object-position: 40% 50%;
    }

    //////////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ///////////////////
    @media (orientation: portrait) {

        height: auto;
        flex-direction: column;

        &__containers {
            width: 100%;

            &--video {
                height: calc(100vh - var(--navbarHeight));
            }

            &--text {
                padding: functions.toRem(12) functions.toRem(12) 0;
            }
        }

        &__animatedTitle {  
            width: 85%;
            height: 40%;

            span {
                white-space: nowrap;
            }
        }

        &__textContent {
            width: 100%;
            text-align: left;
            padding: functions.toRem(16) functions.toRem(16) 0;
        }

        @include custom.media-breakpoint-up(md) {
            
            &__animatedTitle { 
                width: 70%;
            }

            &__textContent {
                padding: 2rem;
                gap: 2rem !important;
            }
        }
    }
    //////////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ///////////////////
    @media (orientation: landscape) {

        height: calc(100vh - var(--navbarHeight));
        flex-direction: row;

        &__containers {
            width: 50%;
            height: 100%;

            &--text {
                padding: 0 !important;
            }
        }

        &__animatedTitle {
            display: none !important;
        }

        &__textContent {
            background-color: transparent;
            text-align: center;
            padding: functions.toRem(16);
            height: 100%;

            p {
                line-height: normal !important;

            }
        }
        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        
        @include custom.media-breakpoint-up(lg) {
            
            &__textContent {
                width: 80%;
                height: 90%;

                p {
                    line-height: 2 !important;
                }
            }
        }

        @include custom.media-breakpoint-up(xl) {

            &__textContent {
                width: 75%;
                height: 85%;
            }
        }
    }
}