@use '../../custom';
@use '../../components/functions';

.summary {

    // ALL BREAKPOINTS
    &__box {
        border: functions.toRem(1) solid custom.$dark;
        border-radius: functions.toRem(16);
        transition: all .5s ease-in-out;
    }

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    @media (orientation: portrait) {
        
        &__box {
            width: 80%;
            background-color: custom.$secondary;
        }

        @media screen and (max-width: functions.toRem(767)) {

            hr {
                margin: 0 functions.toRem(20);
            }

            height: 1000vh;
            width: 100%;
            display: block !important;

            &__img {
                display: none;
                opacity: 0;
                width: 100%;
            }

            &__btnBox {
                position: relative;
                min-height: 2.5rem;
                margin: 0 functions.toRem(10);
            }

            &__svg {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;

                rect {
                    height: 90%;
                    width: 98%;
                    stroke-dasharray: var(--review-btn-length);
                    stroke-width: 5;
                    stroke-linecap: round;
                }
            }

            &__animationBox {
                height: calc(100vh - var(--navbarHeight));
                width: 100%;
                overflow-y: scroll;
                scrollbar-width: none;  /*Firefox*/
                -ms-overflow-style: none;  /* IE and Edge */
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &__box {
                top: var(--review-box-top);
                position: sticky !important;
                transform: translate(-100%);
                transition: all .5s ease-out;
                padding: 0 !important;
                justify-content: space-between;
                min-height: 30vh;
                max-height: 70vh;

                strong {
                    font-size: clamp(functions.toRem(20), calc(functions.toRem(20) + 0.7vw), functions.toRem(30)) !important;
                }

                figcaption {

                    p {
                        padding: 0 functions.toRem(24) functions.toRem(8) functions.toRem(24);
                        font-weight: 400 !important;
                        font-size: clamp(functions.toRem(16), calc(functions.toRem(16) + 0.2vh), functions.toRem(25));
                    }
                }
            }

            &__hidden {
                display: none;
                position: relative;
                z-index: 2;
                padding: 0.2rem;
                font-size: clamp(functions.toRem(16), calc(functions.toRem(16) + 0.2vh), functions.toRem(25));
            }

            &__icon {
                width: 100%;
    
                img {
                    width: 40%;
                }
    
            }
        }

        @include custom.media-breakpoint-up(md) {
            flex-direction: row !important;

            // INDIVIDUAL SUMMARY BOX
            &__box {
                width: 25%;
                height: 35vh;
                padding: functions.toRem(16) functions.toRem(10) !important;
                gap: functions.toRem(16) !important;

                figcaption {
                    margin: 0 !important;
                }
    
                // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEPS IT)
                &--highlight {
                    background-color: custom.$primary !important;
                    color: custom.$white;
                    border: none !important;
                    transition: all .5s ease-in-out;
                    height: 45vh !important;
                    width: 30% !important;
                    box-shadow: functions.toRem(4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6), functions.toRem(-4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6);
    
                    .summary__img {
                        display: block !important;
                        position: absolute !important;
                        opacity: 0.4;
                        bottom: 0;
                        width: 100%;
                        left: 0;
                    }

                    .summary__icon {
                        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                        transition: all .5s ease-in-out;
                    }
    
                    a {
                        background-color: custom.$secondary;
                    }
                }
            }
    
            // ICONS
            &__icon {
                width: 100%;
    
                img {
                    width: 50%;
                }
    
            }

            &__img {
                display: none;
            }

            // FANCY REVIEW BUTTON

            &__btnBox {
                position: relative;
                min-height: 2.5rem;
            }

            &__hidden {
                position: relative;
                z-index: 2;
            }

            &__hidden a {
                padding: 0;
                top: 50%;
                transform: translate(0, -50%);
                width: 95%;
            }

            &__svg {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;

                rect {
                    height: 90%;
                    width: 98%;
                    stroke-dasharray: var(--review-btn-length);
                    stroke-width: 5;
                    stroke-linecap: round;
                }
            }

        }

        @include custom.media-breakpoint-up(lg) {

            &__box {
                width: 20%;
                height: 30vh;

                &--highlight {
                    height: 35vh !important;
                    width: 25% !important;
                }
            }
        }
    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {
        flex-direction: row !important;

        // INDIVIDUAL SUMMARY BOX
        &__box {
            width: 25%;
            height: 70vh;
            padding: functions.toRem(14) !important;
            background-color: custom.$secondary;
            gap: functions.toRem(10);

            figcaption {
                margin: 0 !important;
            }

            // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)
            &--highlight {
                height: 100vh;
                width: 30% !important;
                box-shadow: functions.toRem(4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6), functions.toRem(-4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6);
                background-color: custom.$primary;
                color: custom.$white;

                .summary__icon {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                    transition: all .5s ease-in-out;
                }

                .summary__img {
                    display: block !important;
                    position: absolute !important;
                    opacity: 0.4;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                }

                a {
                    font-size: custom.$body-landscape-fs;
                    padding: functions.toRem(6) functions.toRem(8);
                    background-color: custom.$secondary;
                }
            }
        }

        // ICONS
        &__icon {
            width: 100%;

            img {
                width: 50%;
            }

        }

        &__img {
            display: none;
        }
        
        // FANCY REVIEW BUTTON 
        &__btnBox {
            position: relative;
            min-height: functions.toRem(34);
        }

        &__hidden {
            position: relative;
            z-index: 2;
        }

        &__hidden a {
            padding: 0 !important;
            top: 50%;
            transform: translate(0, -50%);
            width: 95%;
        }

        &__svg {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;

            rect {
                height: 90%;
                width: 98%;
                stroke-dasharray: var(--review-btn-length);
                stroke-width: 5;
                stroke-linecap: round;
            }
        }

        @include custom.media-breakpoint-up(md) {
           
            &__box {
                width: 20%;
                height: 80vh;

                &--highlight {
                    width: 25% !important;
                }
            }

            &__btnBox {
                position: relative;
                min-height: functions.toRem(40);
            }
        }

        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(lg) {

            &__box {
                padding: functions.toRem(16);
                height: 40vh;
                gap: functions.toRem(16);

                &--highlight {
                    height: 60vh !important;
                    
                    a {
                        font-size: custom.$body-fs;
                    }
                }
            }

            &__icon {
                width: 90%;
            }
        }

        @include custom.media-breakpoint-up(xl) {

            &__box {
                width: 15%;
                height: 50vh;

                &--highlight {
                    height: 70vh !important;
                    width: 20% !important;
                }
            }

            &__btnBox {
                position: relative;
                min-height: functions.toRem(45);
            }
        }
    }
}