@use 'mixins';
@use 'functions';
@use '../custom';

@include mixins.pulseAnimation('pulse', functions.toRem(30), custom.$primary);

.scrollTop {
    bottom: functions.toRem(10);
    right: functions.toRem(10);
    z-index: 10;
    height: functions.toRem(40);
    width: functions.toRem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: custom.$primary;
    border: functions.toRem(1) solid;
    border-radius: 50% !important;
    cursor: pointer;

    i {
        font-size: functions.toRem(25);
    }
}

.slideInElement {
    opacity: 0;
}

.pulseAnimation {
    animation: pulse 2s infinite 1s;
}