@use "../custom";
@use 'functions';

// MIXINS

// FOCUS MIXIN
@mixin focus {
    box-shadow: 0 0 functions.toRem(2) functions.toRem(2) custom.$secondary;
}

// ANIMATIONS

// DOOR SHAPE MASSAGES PAGE ANIMATION
@mixin doorAnimation($name, $startZIndex, $endZIndex) {

    @keyframes #{$name} {
        0% {
            z-index: $startZIndex;
            opacity: 1;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            z-index: $endZIndex;
            opacity: 1;
        }
    }
}

// PULSE CLICK ME ANIMATION
@mixin pulseAnimation($name, $size, $color) {

    @keyframes #{$name} {
        from {
            box-shadow: 0 0 0 0 rgba($color, 0.3);
        }

        to {
            box-shadow: 0 0 0 $size rgba(0, 0, 0, 0);
        }
    }
}

// SLIGHTLY MOVE ELEMENTS TO ENCOURAGE THE USER TO CLICK

@mixin lookAtMeAnimation($name, $maxTranslate, $bounce) {

    @keyframes #{$name} {
        0% {
            transform: translate(0, 0);
        }

        40% {
            transform: translate($maxTranslate, $maxTranslate);
        }

        45% {
            transform: translate($bounce, $bounce);
        }

        50% {
            transform: translate($maxTranslate, $maxTranslate);
        }

        55% {
            transform: translate($bounce, $bounce);
        }

        100% {
            transform: translate(0, 0);
        }
    }
}


