@use '../custom';
@use '../components/functions';

.heading-1 {
    font-family: custom.$secondary-ff;
    font-weight: 700;
    font-size: clamp(functions.toRem(22), calc(functions.toRem(22) + 0.5vw), functions.toRem(34));

    span {
        white-space: nowrap;
    }

    @media (orientation: landscape) {
        font-size: clamp(functions.toRem(18), calc(functions.toRem(18) + 0.8vw), functions.toRem(34));;
    }
}

.heading-2 {
    font-family: custom.$secondary-ff;
    font-weight: 700;
    font-size: clamp(functions.toRem(20), calc(functions.toRem(20) + 0.4vw), functions.toRem(28));

    @media (orientation: landscape) {
        font-size: clamp(functions.toRem(15), calc(functions.toRem(15) + 0.6vw), functions.toRem(28));
    }
}

.heading-3 {
    font-family: custom.$secondary-ff;
    font-weight: 700;
    font-size: clamp(functions.toRem(16), calc(functions.toRem(16) + 0.3vw), functions.toRem(24));

    @media (orientation: landscape) {
        font-size: clamp(functions.toRem(14), calc(functions.toRem(14) + 0.5vw), functions.toRem(24));
    }
}

.heading-4 {
    font-family: custom.$secondary-ff;
    font-weight: 700;
    font-size: clamp(functions.toRem(13), calc(functions.toRem(13) + 0.4vw), functions.toRem(23));
}

.heading-5 {
    font-family: custom.$main-ff;
    font-size: clamp(functions.toRem(15), calc(functions.toRem(15) + 0.4vw), functions.toRem(25));
    font-weight: 700;
}

.subheading {
    font-family: custom.$main-ff;
    font-size: clamp(functions.toRem(10), calc(functions.toRem(8) + 0.3vw), functions.toRem(12));
    letter-spacing: functions.toRem(2);
    font-weight: 300;
    color: custom.$primary;
}

.emphasize {
    font-size: clamp(functions.toRem(25), calc(functions.toRem(25) + 0.5vw), functions.toRem(50));
    color: custom.$secondary;
    font-family: custom.$secondary-ff;

    @media (orientation: portrait) {
        display: block;
        text-align: center;
        margin: functions.toRem(16) 0;
    }

    @media (orientation: landscape) {
        line-height: 1 !important;
    }
}

.cutout {
    color: custom.$white;
    background-color: custom.$primary;
    mix-blend-mode: multiply;
    font-family: custom.$secondary-ff;
}





