@use '../custom';
@use '../components/functions';

.footer {

    // ALL BREAKPOINTS 
    color: custom.$white;
    background-repeat: no-repeat;

    hr {
        margin: functions.toRem(5) 0 0 0;
    }

    &__title {
        width: min-content;
    }

    &__map {
        width: 100%;
        aspect-ratio: 4.8 / 3;
    }

    &__bubble {
        color: custom.$dark;

        p {
            margin: 0;
        }

        h3 {
            font-family: custom.$secondary-ff;
            font-weight: 700;
        }
    }

    &__hours {
        h3 {
            span {
                font-size: clamp(functions.toRem(5), calc(functions.toRem(5) + 0.17vw), functions.toRem(10));;
            }
        }
    }
     ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
     @media (orientation: portrait) {

        &__btn {
            font-size: custom.$body-fs !important;
        }

        &__main {
            background: url('/images/footer/phone_gift_illustration.svg');
            background-repeat: no-repeat;
            background-position: 90% 100%;
            background-size: auto 13%;
            row-gap: 0.7rem;
        }

        &__separator {
            width: 90%;
            margin: 0 auto;
        }

        &__contact {
            gap: 1rem !important;

            h4 {
                font-size: clamp(functions.toRem(16), calc(functions.toRem(16) + 0.4vw), functions.toRem(23));
            }
        }

        &__localisation, &__hours, &__gift {
            gap: 1rem !important;
        }

     }

     @include custom.media-breakpoint-up(md) {
        background-image: url('/images/footer/woman_cocktail_illustration.png');
        background-size: 60% auto;
        background-position: 120% 15%;

        &__main {
            background: none;
        }

        &__contact {
            order: 1;
            width: 33%;
        }

        &__hours {
            order: 2;
            width: 33%;
        }

        &__gift {
            order: 3;
            width: 33%;
        }

        &__localisation {
            width: 100% !important;
            order: 4;
        }

        &__separator {
            order: 5;
        }
     }

     @include custom.media-breakpoint-up(lg) {
        background-image: url('/images/footer/woman_cocktail_illustration.png');
        background-size: auto 90%;
        background-position: 125% 150%;

        &__contact {
            width: 25% !important;
            order: 1;

            strong {
                padding: 1rem !important;
            }
        }

        &__hours {
            width: 16.6% !important;
            order: 2;
        }

        &__localisation {
            width: 33.3% !important;
            justify-content: flex-start !important;
            order: 3;
        }

        &__gift {
            display: flex;
            width: 25% !important;
            order: 4;

            .footer__btn {
                width: 50%;
            }
        }

        &__separator {
            width: 60%;
            margin: functions.toRem(16) 0 0 functions.toRem(16) !important;
        }

    }
    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    @media (orientation: landscape) {
        background: none;

        &__bubble {
    
            h3 {
                font-family: custom.$secondary-ff;
                font-weight: 700;
            }
    
            p {
                margin: 0;
            }
        }

        &__main {
            margin-bottom: 0 !important;
        }

        &__contact {
            width: 30% !important;
            order: 1;

            strong {
                padding: 0.25rem !important;
            }

            h4 {
                font-size: custom.$body-landscape-fs;
            }
        }

        &__hours {
            width: 25% !important;
            order: 2;
        }

        &__localisation {
            width: 45% !important;
            justify-content: flex-start !important;
            order: 3;
        }

        &__gift {
            display: none !important;
        }

        &__separator {
            width: 90%;
            margin-bottom: 12px !important;
            order: 4;
        }

        &__btn {
            font-size: custom.$body-landscape-fs !important;
            padding: 0.2rem 0rem !important;
        }
        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        @include custom.media-breakpoint-up(lg) {
            background-image: url('/images/footer/woman_cocktail_illustration.png');
            background-size: auto 80%;
            background-position: 105% 100%;
            background-repeat: no-repeat;

            &__contact {
                width: 25% !important;
                order: 1;

                strong {
                    padding: 1rem !important;
                }

                h4 {
                    font-size: clamp(functions.toRem(14), calc(functions.toRem(14) + 0.3vw), functions.toRem(18));
                }
            }

            &__hours {
                width: 16.6% !important;
                order: 2;
            }

            &__localisation {
                width: 33.3% !important;
                order: 3;
            }

            &__gift {
                display: flex !important;
                width: 25% !important;
                order: 4;
                gap: 1rem !important;
    
                .footer__btn {
                    width: 50%;
                }
            }

            &__separator {
                width: 60%;
                margin-bottom: functions.toRem(16) !important;
                order: 5;
            }

            &__btn {
                padding: 0.4rem 0rem !important;
            }
        }
        @include custom.media-breakpoint-up(xl) {
            padding: 1rem 1.5rem !important;
            background-size: auto 100%;
            background-position: 105% 100%;

            &__localisation {
                justify-content: space-between !important;
            }

            &__btn {
                padding: 0.4rem 0.5rem !important;
            }

            &__separator {
                width: 70%;
            }
        }
    }
}


